@media (max-width: 767px) {
.form-group{margin-bottom:10px;}
.navbar-top1 .logo {
  font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height:38px;
	font-weight: 400;
	color: #ffffff;
	margin:3px 0 0px 0x;
	text-shadow: 0px 0px 0.7px #817686;
	padding:0;
	vertical-align:middle;
	text-align:center;
	min-width:320px;
	overflow:hidden;
}	

.navbar-nav > li {
    float: left;
	}
.navbar-top1 .logo {
	font-size: 28px;
}
}
@media (max-width: 479px) {
.navbar-top1 .logo {
	font-size: 16px;
}
body{
  font-size:13px;
}

	
}