/* MARGIN & PADDING */

.vp5{padding-top:5px;padding-bottom:5px;} 		
.vp10{padding-top:10px;padding-bottom:10px;} 		
.vp15{padding-top:15px;padding-bottom:15px;} 		
.vp20{padding-top:20px;padding-bottom:20px;} 		
.vp30{padding-top:30px;padding-bottom:30px;} 		
.vp40{padding-top:40px;padding-bottom:40px;} 		

.br5{padding-bottom:5px;} 		
.br10{padding-bottom:10px;} 		
.br15{padding-bottom:15px;} 		
.br20{padding-bottom:20px;} 		
.br30{padding-bottom:30px;} 		
.br40{padding-bottom:40px;} 		

.gp5{padding-right:5px;padding-left:5px;} 		
.gp10{padding-right:10px;padding-left:10px;} 		
.gp15{padding-right:15px;padding-left:15px;} 		
.gp20{padding-right:20px;padding-left:20px;} 		
.gp30{padding-right:30px;padding-left:30px;} 		
.gp40{padding-right:40px;padding-left:40px;} 		

.p0{padding:0;} 	
.p5{padding:5px;} 		
.p10{padding:10px;} 		
.p15{padding:15px;} 		
.p20{padding:20px;} 	
.p30{padding:30px;} 	
.p40{padding:40px;} 	

.m0{margin:0;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m30{margin:30px;}
.m40{margin:40px;}

/* FONT SIZE */

.f9{font-size:9px;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}

.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}
.capitalize {text-transform:capitalize;} 

/* COLOR */

.color-white{color:#ffffff;}
.color-black{color:#000000;}
.color-grey{color:#eeeeee;}
.color1{color:#99c554;}
.color2{color:#f4edf2;}
.color3{color:#fbf6f9;}
.color4{color:#7b5971;} 

/* BACKGROUND COLOR */

.bg-color-white{background-color:#ffffff;}
.bg-color-black{background-color:#000000;}
.bg-color-grey{background-color:#eeeeee;}
.bg-color1{	background-color:#212830;}
.bg-color2{	background-color:#151c26;}
.bg-color3{	background-color:#262d37;}
.bg-color4{	background-color:#2c333e;}	
.premium{background-color:#fdf6d7;} /* fff3c3 d9edf7 */

/* BORDER */

.border-bottom{border-bottom:1px solid #eeeeee;}
.border0{border:0;}

/* VISUAL EFFECTS */

.debug{	border:1px dotted #F00;}
.overflow-hidden{overflow:hidden;}
.muted { color: #b8b8b8;}
.img-muted{opacity:0.4;}	
.box1{
  border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(213, 199, 221, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(213, 199, 221, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(213, 199, 221, 0.6);	
  overflow:hidden;
	}	
.box1:hover{
  border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(213, 199, 221, 0.9);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(213, 199, 221, 0.9);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(213, 199, 221, 0.9);	
  overflow:hidden;
	}	
.pull-center{
	margin:0 auto;
	overflow:hidden;
box-align: center;
-moz-box-align:center;
-webkit-box-align:center;
text-align:center;
	}

input[type=checkbox].css-checkbox {	display:none;}
input[type=checkbox].css-checkbox + label.css-label {padding-left:23px;	height:18px; display:inline-block;line-height:18px;background-repeat:no-repeat;background-position: 0 0;xfont-size:18px;vertical-align:middle;cursor:pointer;font-weight:normal;}
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -18px;}
input[type=checkbox].css-checkbox + label.css-label {background-image:url(/oc-content/themes/theme1/img/csscheckbox.png);-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

input[type=radio].css-checkbox {
							display:none;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:23px;
							height:18px; 
							display:inline-block;
							line-height:18px;
							background-repeat:no-repeat;
							background-position: 0 0;
							xfont-size:20px;
							vertical-align:middle;
							cursor:pointer;font-weight:normal;
							

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -18px;
						}
						input[type=radio].css-checkbox + label.css-label {
				background-image:url(/oc-content/themes/theme1/img/cssradio.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				
			}
.display-table{display:table;}			
.display-table-row-group{display:table-row-group;}			
.form-group.required .control-label:after {
  content:"*";
  color:#bf0000;
  position: relative;
  font-size:20px;
  line-height:20px;
  margin:4px 0 0 7px;
  float:right;
  
}
.border0{border:0;}
.border1{border:1px dashed;}